/*noinspection CssUnusedSymbol*/
.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font: 1.25em/1.25em 'Open Sans', sans-serif;
}

#announcement-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font: 2em/2em 'Open Sans', sans-serif;
  text-align: center;
}

#button-container {
  position: relative;
  margin: 2em auto;
}

#password-reset {
  border-radius: 0.5em;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #eeeeee;
  }

  /*noinspection CssUnusedSymbol*/
  .announcement {
    border: 1px solid #ccc;
    background-color: #43e753;
    color: #424242;
  }

  #password-reset {
    color: #424242;
    border: 1px solid #808080;
    background-color: #eaeaea;
  }

  h1 {
    color: #424242;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }

  /*noinspection CssUnusedSymbol*/
  .announcement {
    border: 1px solid #505050;
    background-color: #37c443;
    color: #dadada;
  }

  #password-reset {
    color: #dadada;
    border: 1px solid #505050;
    background-color: #141414;
  }

  h1 {
    color: #dadada;
  }
}
